# Connect to twitter/emoji db with Insight user
- Please use limit 2M at most or else my server will probably die :) ... there are 2 billion tweets in there.

In [3]:
import psycopg2
import pandas as pd

If you get this error the reconnect: "InternalError: current transaction is aborted, commands ignored until end of transaction block"

## Add the password

In [25]:
conn = psycopg2.connect("host=108.45.74.15 port=5432 dbname=emoji_db user=insight password=")
cur = conn.cursor()

# Get the schema

In [5]:
cur.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'tweet_dump';")
result = cur.fetchall()

In [8]:
schema = [val[0] for val in result]
schema

['id',
 'date',
 'created_at',
 'text',
 'retweet_count',
 'favorite_count',
 'lang',
 'geo',
 'coordinates',
 'time_zone',
 'name',
 'user_name',
 'source',
 'location',
 'twitter_id']

# Search for a dump and apply the schema.

In [21]:
cur.execute("SELECT * from tweet_dump order by id DESC limit 10;")
result = cur.fetchall()

In [22]:
pd.DataFrame(result, columns=schema)

,id,date,created_at,text,retweet_count,favorite_count,lang,geo,coordinates,time_zone,name,user_name,source,location,twitter_id
0,2526087769,2018-06-09 14:46:47.236043,2018-06-09 14:46:46,RT @AzeezLJ: ÿßÿ±ŸÇÿßŸÖ ŸÑŸäÿ®ÿ±ŸàŸÜ ÿ¨ŸäŸÖÿ≥ x ÿßŸÑŸàÿßÿ±ŸäŸàÿ±ÿ≤ 201...,36,25,ar,{},{},,Ahmed AL idrissi,meed00w,Twitter for iPhone,ŸÖŸÉÿ© ÿßŸÑŸÖŸÉÿ±ŸÖÿ©,1005461205694271488
1,2526087768,2018-06-09 14:46:47.227221,2018-06-09 14:46:46,„Éä„Ç§„Çø‚Äï„ÅßÂ∑®‰∫∫„ÅåË•øÊ≠¶„Å´ÂãùÂà© „Çª„Éª„É™„Éº„Ç∞ÔºîÂπ¥„Å∂„ÇäÔºìÂõûÁõÆ„ÅÆ‚ÄúÂÖ®Âãù‚ÄùÈÅîÊàê https://t.co...,0,0,ja,{},{},,YOUTUBEÈÄüÂ†±ÂãïÁîª,aromaimoko,WordPress.com,,1005461205706772480
2,2526087767,2018-06-09 14:46:47.202243,2018-06-09 14:46:46,RT @val_fina: Esas palabras mimitos y besitos ...,528,918,es,{},{},,Cenab-ƒ± ƒêark ~ YƒëK ~,DarkDeath____,Twitter Lite,Sheolüó°üñ§ SüíòT,1005461205706792961
3,2526087766,2018-06-09 14:46:47.193906,2018-06-09 14:46:46,RT @suitryt: „Å°„Å£„Åü„ÅÑÊò•Áî∞„Å®Áâß\n\n#„Åä„Å£„Åï„Çì„Åö„É©„Éñ https://t.co...,133,1025,ja,{},{},,üçé„Åã„Åï„Åï„Åéüçé,kssgkr,Twitter for iPhone,„Ç∞„É≥„Éû„Éº,1005461205710827520
4,2526087765,2018-06-09 14:46:47.185593,2018-06-09 14:46:46,Cc: @factosdabanda @Mateus_africano,0,0,und,"{u'country_code': u'AO', u'country': u'Angola'...",{},,Afonso Moussa,MoussaAfonso,Twitter for iPhone,Angola,1005461205706829824
5,2526087764,2018-06-09 14:46:47.161051,2018-06-09 14:46:46,"RT @BottomStuff: Gone, but never ever forgotte...",54,147,en,{},{},,Brandon Michelle,brandon_michele,Twitter Web Client,Cardiff,1005461205719318528
6,2526087763,2018-06-09 14:46:47.152473,2018-06-09 14:46:46,RT @arnellarmon: Don‚Äôt hit my nigga for advice...,715,1754,en,{},{},,k,kayleesux,Twitter for iPhone,Houston,1005461205706854400
7,2526087762,2018-06-09 14:46:47.127260,2018-06-09 14:46:46,Ê•Ω„Åó„Åù„Éº https://t.co/GruikpHUhO,0,0,ja,{},{},,kaz/„ÉÑ„É¥„Ç°„É≥„ÉÑ„Ç£„Éí,kaz_ktsite,Twitter for iPhone,‰øÆÁæÖÂ†¥,1005461205719310336
8,2526087761,2018-06-09 14:46:47.118410,2018-06-09 14:46:46,"I'm at ÁßãËëâÂéüÈßÖ in ÂçÉ‰ª£Áî∞Âå∫, Êù±‰∫¨ÈÉΩ https://t.co/tb9RAuAyih",0,0,ja,"{u'country_code': u'JP', u'country': u'Êó•Êú¨', u'...","{u'type': u'Point', u'coordinates': [35.698569...",,„Åµ„Å≥„Å£„Åè,FHUVC,Foursquare,Ê®™Êµú,1005461205698449414
9,2526087760,2018-06-09 14:46:47.110052,2018-06-09 14:46:46,@char_u3 „Éû„É´„Ç§„Å´‰∏ÄÂøú10:30È†ÉÁùÄ„Åß„Åô„Å™„Äú,0,0,ja,{},{},,„É¨„Éº„Ç§@Ââµ‰Ωú„Åó„Åü„ÅÑ,re_ihk_mk,Twitter for Android,„Ç∑„É•„Ç¶„Åï„Çì„ÅÆÈù©Èù¥„ÅÆ‰∏ã,1005461205702438913

# You'll have to apply the columns bases on what you search for.In the order listed in the query.

In [26]:
cur.execute("""SELECT created_at, text, location, time_zone, geo, lang from tweet_dump
               order by id DESC limit 10;""")
result = cur.fetchall()

In [27]:
pd.DataFrame(result)

,0,1,2,3,4,5
0,2018-06-09 14:48:47,„Äê„Ç¢„É≥„Çπ„É™„Ç¶„É†„ÄëÁÖ©ÊÇ©„ÄÅÊÅã„Å´„ÇÇ„Å†„Åà„ÇãÂøÉ,,,{},ja
1,2018-06-09 14:48:46,"RT @CarmineZozzora: Under Obama, the Left‚Äôs us...",,,{},en
2,2018-06-09 14:48:46,https://t.co/taPEc13RFC,,,{},und
3,2018-06-09 14:48:46,@to_na_ ÊäΩÈÅ∏ÁµêÊûú„Çí„Åä‰ºù„Åà„Åó„Åæ„Åô„ÄÇ„Äå„Ç¶„ÉÅ„Ç´„Éï„Çß„Çπ„Ç§„Éº„ÉÑ20ÂÜÜÂºï„ÇØ„Éº„Éù„É≥„Äç„ÇíÂ∑Æ„Åó‰∏ä„Åí„Åæ„Åô...,,,{},ja
4,2018-06-09 14:48:46,@biliyondabeni Allah insanƒ± iddiasƒ±ndan vurur,"ƒ∞stanbul, T√ºrkiye",,{},tr
5,2018-06-09 14:48:46,RT @NotTheCurlyHead: Imagine yo bf breaking up...,,,{},en
6,2018-06-09 14:48:46,RT @Argentina: [SELECCI√ìN MAYOR] El volante En...,seguime y te sigo,,{},es
7,2018-06-09 14:48:46,RT @BTS_twt: ÏÇ¨Ï†ÑÌà¨Ìëú ÌñàÏäµÎãàÎã§. #JH #RM https://t.co/n...,"18, pansexual, she/her, Capricorn",,{},ko
8,2018-06-09 14:48:46,"RT @_spacecraf_: also, it is INCREDIBLY irrita...",Illinois,,{},en
9,2018-06-09 14:48:46,cacha en 4\n https://t.co/z3JBn2dFzB \n slow m...,,,{},en

# Easiest. Filter on location not null

In [41]:
cur.execute("""select text, geo, coordinates, location 
            from tweet_dump where location != ''
            order by id DESC limit 5;""")
result = cur.fetchall()

In [42]:
pd.DataFrame(result)

,0,1,2,3
0,„Åà„ÄÅ„Å°„Çá„ÄÅ„Åà„ÄÅÔºÅÔºÅÔºÅÔºÅÔºÅüò±‚ô•Ô∏è‚ô•Ô∏è https://t.co/N1BCHK9Ckz,{},{},jpnüáØüáµ
1,RT @RafaFreire: Precisa desenhar?!?!?! https:/...,{},{},"Curitiba, Brasil"
2,RT @TamalDeQuesito: #TeQuieroPara disfrutar la...,{},{},EN MI CDMX
3,ÁàΩÂø´ÊÑü„Éè„É≥„Éë„Å™„ÅÑwww\n\nhttps://t.co/EElZlPMpYH,{},{},Êó•Êú¨ Â∫ÉÂ≥∂
4,Panis yang seen mo pagblinock kita üòà,"{u'country_code': u'AE', u'country': u'United ...",{},MNL x DXB

# Filter on geo not being null

In [30]:
#example json of geo.:
#{"full_name": "Lomita, CA", "country": "United States", "place_type": "city", "coordinates": [[[-118.328804, 33.774937], [-118.328804, 33.807678], [-118.306568, 33.807678], [-118.306568, 33.774937]]], "country_code": "US", "id": "f2f180b090191151", "name": "Lomita"}
# coordinates can be found in geo['coordinates'] or geo->'coordinates'

cur.execute("""select text, geo, coordinates, location 
            from tweet_dump where geo->'full_name' IS NOT NULL 
            order by id DESC limit 5;""")
result = cur.fetchall()

In [31]:
pd.DataFrame(result)

,0,1,2,3
0,Te≈ükilat mensuplarƒ±mƒ±z ile birlikte se√ßmen ziy...,"{u'country_code': u'TR', u'country': u'T√ºrkiye...",{},"B√ºy√ºk√ßekmece, T√ºrkiye"
1,@RK1610IsMe,"{u'country_code': u'IN', u'country': u'India',...",{},New Delhi ( India)
2,"@Universe_FD üò≠ üò≠ Mais nooooon, pars pas.. ‚ù§Ô∏è","{u'country_code': u'GP', u'country': u'Guadelo...",{},Guadeloupe
3,"@ryanOTHx I usually do the opposite, over the ...","{u'country_code': u'GB', u'country': u'United ...",{},"Oxford, England"
4,@Iam0mae @tray_terrell cmon na yk neither coul...,"{u'country_code': u'US', u'country': u'United ...",{},üèö

## Coordinates

In [36]:
result[1][1]['coordinates']

[[[76.707671, 28.199529],
  [76.707671, 28.537521],
  [77.241711, 28.537521],
  [77.241711, 28.199529]]]

# Filter on coordinates not being null

In [37]:
cur.execute("""select text, geo, coordinates, location 
            from tweet_dump where coordinates->'coordinates' IS NOT NULL 
            order by id DESC limit 5;""")
result = cur.fetchall()

In [38]:
pd.DataFrame(result)

,0,1,2,3
0,"–Æ–∑—É —Ö–æ—Ä–æ—à –≤ –∞—Ä–æ–º–∞—Ç–µ, –Ω–∞ –≤–∫—É—Å —á—É—Ç–æ–∫ –ø—Ä–æ–≤–∞–ª—å–Ω–æ–π ...","{u'country_code': u'RU', u'country': u'Russia'...","{u'type': u'Point', u'coordinates': [55.7714, ...","–ö–æ—Ä–æ–ª–µ–≤, –†–æ—Å—Å–∏—è"
1,"#reflection @ Ponta Delgada, Azores https://t....",{},"{u'type': u'Point', u'coordinates': [37.7333, ...",New York
2,‡∏°‡∏∏‡∏° #likes #photo #like4like #instagram‚Ä¶ http...,"{u'country_code': u'TH', u'country': u'‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ...","{u'type': u'Point', u'coordinates': [13.811779...","‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ, ‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢"
3,Playa y feria en Marbella. #trip #espa√±a‚Ä¶ http...,"{u'country_code': u'ES', u'country': u'Espa√±a'...","{u'type': u'Point', u'coordinates': [36.509, -...",Olitz's house. ‚úà
4,Azil also can (@ Starbucks Reserve - @starbuck...,"{u'country_code': u'MY', u'country': u'Malaysi...","{u'type': u'Point', u'coordinates': [3.1585508...",Loqstaq +Seghedang +Potdiksen